html {
  font-size: 20px;
}

body {
  text-align: center;
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px lightgreen; 
  border-bottom: solid 3px rgb(115, 115, 114);
}

div {
  font-weight: bold;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

/*Google Fonts*/
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}